body {
  width: 75%;
  margin: 0 auto;
}

h1 {
  margin: 0;
  font-size: 45px;
  color: rgb(254, 157, 171);
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  height: 400px;
}

.gif-container {
  width: 65%;
  padding-top: 10px;
}

.new, .save {
  padding: 15px 30px;
  margin: 0 auto;
  width: 45%;

  font-weight: bold;
  color: black;

  border: 2px solid black;
  border-radius: 20px;

  background-color: rgb(254, 157, 171);

  cursor: pointer;
}

.new {
  background-color: lightblue;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 30%;
  height: 350px; 

  box-sizing: content-box;
  /* border: 2px solid black; */
}

.name {
  width: 80%;
  height: 20px;
  padding: 10px;
  border: 1px solid lightgrey;
  margin-bottom: 10px;
}

.controls-save {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.gif-container img {
  width: 100%;
  height: auto;
  max-height: 400px;
}

.saved {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 100px;
}

.saved-gif {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: auto;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 20px;
  background-color: rgb(254, 157, 171);
  box-sizing: content-box;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  cursor: pointer;
}